*{
    margin: 0 auto;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #FFFFFF;
    margin: 0;
}
          
.container{
    background-color: #151E31;
    width: 1440px;
    height: 1328px;
}

        /* main-body */
.mainBody{
    height: 970px;
}

.mainBody-heading{
    display: flex;
    margin-top: 50px;
    width: 947px;
    height: 91px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0.502911) 47.53%, rgba(0, 0, 0, 0) 100%);
    box-shadow: inset 0px 4px 4px #F69809;
    border-radius: 30px;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 94px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.mainBody-box{
    margin-top: 53px;
    display: flex;
    justify-content: space-around;
}

.mainBody-box-myAccount{
    margin-top: 20px;
    width: 366px;
    height: 736px;
}

.mainBody-box-myAccount-myImage{
    width: 366px;
    height: 348px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #F69809;
    border-radius: 30px
}

.mainBody-box-myAccount-myName{
    width: 366px;
    height: 38px;
    margin-top: 23px;
    text-align: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0.502911) 47.53%, rgba(0, 0, 0, 0) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.37);
    border-radius: 30px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.mainBody-box-myAccount-myTargets{
    width: 367px;
    height: 128px;
    text-align: center;
    margin-top: 37px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: inset 0px 4px 4px #000000;
    border-radius: 30px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.mainBody-box-myAccount-Chosen{
    width: 366px;
    height: 38px;
    margin-top: 37px;
    text-align: center;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.56) 0%, rgba(0, 0, 0, 0.502911) 47.53%, rgba(0, 0, 0, 0) 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.37);
    border-radius: 30px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.mainBody-box-myAccount-exit{
    width: 173px;
    height: 47px;
    margin-top: 37px;
    text-align: center;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: inset 0px 4px 4px #000000;
    border-radius: 30px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.mainBody-box-myResults-myParams{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 657px;
    height: 357px;
    margin-top: 20px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: inset 0px 4px 4px #000000;
    border-radius: 30px;
}

.mainBody-box-myResults-myParams-heading{
    width: 463px;
    height: 38px;
    margin-top: 30px;
    margin-left: 110px;
    background: linear-gradient(90deg, #0E1421 0.02%, #151E31 39.36%, rgba(21, 30, 49, 0.19) 87.02%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.37);
    border-radius: 30px;
    text-align: center;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.mainBody-box-myResults-myParams-Section{
    height: 256px;
    width: 173px;
}

.mainBody-box-myResults-myParams-param{
    width: 173px;
    height: 38px;
    margin-top: 21px;
    background: linear-gradient(90deg, #0E1421 0.02%, #151E31 39.36%, rgba(21, 30, 49, 0.19) 87.02%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.37);
    border-radius: 30px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
}

.mainBody-box-myResults-myParams-date{
    width: 173px;
    height: 21px;
    margin-top: 53px;
    background: linear-gradient(90deg, #0E1421 0.02%, #151E31 39.36%, rgba(21, 30, 49, 0.19) 87.02%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.37);
    border-radius: 30px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.foot-content{
    margin-top: -160px;
    border-top: 4px solid #8E8E8E;
    height: 172px;
}
.main-content-block-video{
    background: white;
    width: 1006px;
    height: 456px;
    margin-top: 10px;
    border-radius: 10px;
}
@keyframes anim-video {
    100%{
        width: 733px;
        height: 616px;
        border-radius: 0;
    }
}
.main-content-block-video-active{
    animation: anim-video 1s forwards;
}
.main-content-block-selectable{
    margin-top: 27px;
    width: 50%;
    height: 15px;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.main-content-block-selectable-icon{
    margin-left: 10px;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    border-radius: 50%;
}
.foot-content-contacts-info{
    height: 149px;
}
.foot-content-contacts{
    border-top: 2px solid black;
    display: flex;
    width: 1140px;
    height: 149px;
    height: 100%;
    margin: 25px 153px 5px 147px;
}
.foot-content-contacts-text{
    width: 500px;
    height: 110px;
    margin-left: 17px;
    margin-top: 3px;
}
.foot-content-contacts-links{
    display: flex;
    align-items: flex-end;
    justify-items: flex-end;
    margin-top: 69px;
    padding-left: 730px;
    height: 33px;
    width: 797px;
}
.foot-content-contacts-text a{
    display: block;
    color: #8E8E8E;
    height: 20px;
    margin-top: 5px;
}
.foot-content-contacts-text p{
    color: #8E8E8E;
}
.foot-content-contacts-info p{
    width: 1118px;
    height: 18px;
    left: 4px;
    bottom: 0px;
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #8E8E8E;
}
.foot-content-contacts-links img{
    margin-right: 6px;
    margin-left: 6px;
    height: 33px;
    width: 36px;
}
.main-content-block-button{
    margin-top: 23px;
    width: 70%;
    height: 90px;
    display: flex;
    justify-items: center;
}
.main-content-block-button-plan{
    width: 367px;
    height: 90px;
    margin-right: 10px;
    background: #000000;
    border-radius: 30px;
    line-height: 65px;
    cursor: pointer;
    box-shadow: 0px 4px 4px #FFFFFF;
    border-radius: 30px;
}
.main-content-block-button-trains{
    background-color: #F69809;
    margin-left: 10px;
    width: 367px;
    height: 90px;
    display: flex;
    justify-content: center;
    line-height: 65px;
    cursor: pointer;
    box-shadow: 0px 4px 4px #FFFFFF;
    border-radius: 30px;
}
.main-content-block-button-trains-active{
    margin-left: 330px;
}
.main-content-block-button-plan p{
    padding-top: 5px;
    width: 281px;
    height: 75px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(50, 50, 50, 0.5);
}
.main-content-block-button-trains p{
    font-style: normal;
    font-weight: 500;
    width: 221px;
    height: 80px;
    padding-top: 5px;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #040505;
    text-shadow: 0px 4px 4px rgba(50, 50, 50, 0.5);
}
.main-content-block-discription{
    margin-top: 53px;
    width: 946px;
    height: 224px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px #000000;
    border-radius: 30px;
    margin-bottom: 257px;
}
@keyframes anim-description {
    100%{
        width: 946px;
        height: 64px;
    }
}
.main-content-block-discription-active{
    animation: anim-description 1s forwards;
    height: 64px;
}
.main-content-block-discription p{
    padding-top: 17px;
    width: 861px;
    height: 190px;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    color: #000000;
}