.main-hat-block{
    display: flex;
    flex-wrap: nowrap;
    height: 180px;
    background-color: #303030;
    border-bottom: 3px solid #040505;
}
.main-hat-logo{
    margin-top: 27px;
    margin-left: 3%;
    width: 20%;
    height: 80%;
}
.main-hat-logo img{
    width: 196px;
    height: 100%;
}
.main-hat-links{
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    width: 70%;
    height: 90%;
    margin-right: 10%;
    flex-direction: row-reverse;
}
.main-hat-search{
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
.main-hat-menu{
    border-radius: 30px;
    background-color: white;
    height: 50px;
    width: 15%;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 50px;
}
.main-hat-enter{
    border-radius: 30px;
    background-color: white;
    width: 15%;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 50px;
}
.main-hat-enter p{
    text-align: start;
    margin-left: 20px;
    font-size: 30px;
    color: #040505;
}
.main-hat-menu p {
    text-align: start;
    margin-left: 20px;
    font-size: 30px;
    color: #040505;
}
.main-hat-menu:hover{
    background-color: #F69809;
}
.main-hat-enter:hover{
    background-color: #F69809;
}
.main-hat-search:hover{
    background-color: #F69809;
}