*{
    margin: 0 auto;
    height: 100%;
    font-family: sans-serif;
}
body{
    background-color: #FFFFFF;
    margin: 0;
}
.main-content-block{
    justify-items: center;
    border-top: 2px solid #ffffff;
    background: linear-gradient(180deg, #303030, #FFFFFF);
    height: 100%;
}
.foot-content{
    border-top: 5px solid black;
    height: 10%;
}
.main-content-block-video{
    background: white;
    width: 70%;
    height: 450px;
    margin-top: 10px;
    border-radius: 10px;
}
.main-content-block-selectable{
    margin-top: 5px;
    width: 50%;
    height: 15px;
}
.main-content-block-selectable ul{
    display: flex;
    margin-left: 190px;
}
.main-content-block-selectable li{
    list-style-type: none;
    background-color: white;
    width: 15px;
    margin-right: -1px;
    margin-left: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.foot-content-contacts-info{
    width: 80%;
    height: 100%
}
.foot-content-contacts{
    margin-top: 25px;
    border-top: 2px solid black;
    display: flex;
    width: 100%;
    height: 100%;
}
.foot-content-contacts-text{
    width: 70%;
}
.foot-content-contacts-links{
    display: flex;
    justify-content: space-between;
    height: 45%;
    width: 30%;
}
.foot-content-contacts-text a{
    display: block;
    margin-left: 20px;
    color: #8E8E8E;
    height: 20px;
    margin-top: 5px;
}
.foot-content-contacts-text p{
    color: #8E8E8E;
}
.foot-content-contacts-info p{
    margin-left: 20px;
    color: #8E8E8E;
    font-size: 12px;
}
.main-content-block-button{
    width: 70%;
    height: 100px;
    display: inline;
    justify-content: space-around;
}