.trains{
    background-color: #151E31;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.trains-content{
    margin-top: 28px;
    width: 947px;
    height: 629px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: inset 0px 4px 4px #000000;
    border-radius: 30px;
}
.trains-name{
    margin-top: 28px;
    width: 559px;
    height: 86px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.trains-discription{
    margin-top: 35px;
    margin-bottom: 35px;
    width: 947px;
    height: 94px;
    left: 0px;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    box-shadow: inset 0px 4px 4px #000000;
    border-radius: 30px;
}